/* colour palette and set base*/
:root{
    --neutral-clr: #0077bc;
    --text-clr: #e3f5fd;
    --dark-clr: #065a9c;
    --light-clr: #c2d5e4;
    --highlight-clr: #e64556;
    background-color: var(--neutral-clr);
    color: var(--text-clr);
}

*,
*::before,
*::after{
    font-family: inherit;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* For the search bars at the top */
.search{
    display: inline-block;
    margin: 30px;
    position: relative;
}

#num-input, #name-input{
    padding: 10px;
    outline: none;
    border: 1px solid var(--light-clr);
    border-radius: 25px 5px 5px 25px;
    margin-left: 20px;
    box-sizing: border-box;
}

.number{
    font-size: small;
    margin: none;
}

.btn{
    color: var(--light-clr);
    background-color: var(--dark-clr);
    border: var(--dark-clr);
}

.btn:hover{
    background-color: var(--highlight-clr);
    cursor: pointer;
}

/* remove bullets from list */
ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

/* grid dsiplay */
li {
    display: inline-block;
    vertical-align: top;
}

/* change image properties */
img {
    width:  150px;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-bottom: 10px;
}

/* visually change each item */
.poke{
    margin: 2%;
    opacity: 1;
    border: 5px solid var(--light-clr);
    border-radius: 25px;
    padding-top: 10px;
}

/* properties after hovering on a pokemon */
.poke:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* dropdown menu display */ 
  .num-list {
    position: center;
    background-color: var(--light-clr);    
  }
  
  .num-list a {
    color: var(--dark-clr);
    display: block;
    padding-top: 10px;
  }
  
  .num-list a:hover {
    background-color: var(--text-clr);
    cursor: pointer;
    }
  
  .show {display: block;}