/* colour palette and set base*/
:root{
    --neutral-clr: #35a4e5;
    --text-clr: #e1f4fc;
    --dark-clr: #0077bc;
    --light-clr: white;
    --highlight-clr: #e64556;
    --number-clr: #9cebff;
    background-color: var(--dark-clr);
    color: var(--text-clr);
}

*,
*::before,
*::after{
    font-family: inherit;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.top{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--dark-clr);
    z-index: 1;
}

h1{
    color: white;
}

/* For the search bars at the top */
.search{
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}

#num-input, #name-input{
    padding: 10px;
    outline: none;
    border: 1px solid var(--light-clr);
    border-radius: 25px 5px 5px 25px;
    margin-left: 20px;
    box-sizing: border-box;
    min-width: 200px;
}

p {
    font-size: medium;
    margin: none;
    color: var(--text-clr);
    background-color: var(--dark-clr);
}

h3{
    color: var(--light-clr);
}

.btn{
    color: var(--dark-clr);
    background-color: var(--light-clr);
    border: var(--dark-clr);
    padding: 10px 11px 10px 11px;
}

.btn:hover{
    color: var(--light-clr);
    background-color: var(--highlight-clr);
    cursor: pointer;
}

/* remove bullets from list */
ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

/* grid display */
li {
    display: inline-block;
    vertical-align: top;
}

/* change image properties */
img {
    width:  120px;
    height: 120px;
    object-fit: cover;
    float: center;
    align-items: center;
}

/* visually change each item */
.poke{
    margin: 2%;
    opacity: 1;
    border: 5px solid var(--light-clr);
    border-radius: 25px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 350px;
    background-color: var(--neutral-clr);
}

/* properties after hovering on a pokemon */
.poke:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* hide the pokemon in list */
#pokemon-info a{
    display: none;
}

.references{
    background-color: var(--dark-clr);
    padding: 30px;
}

a{
    color: pink;
}

.search-results{
    background-color: var(--text-clr);
    display: flex;
}


  